#errorDiv {
  background-image: url("/public/images/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  color: black;
  text-align: center;
  justify-content: center;
  font-family: "Lilita One";
  letter-spacing: 1px;
  padding-top: 7%;
}
